In [38]:
import numpy as np
import pandas as pd
from collections import defaultdict

raw_df = pd.read_csv('../data/adult.csv')
prep_df = pd.DataFrame(columns=raw_df.columns)
categorical_columns = []
to_concat = []
constraints_dict = defaultdict(lambda: list())
raw_df.head(5)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [39]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

AGE

In [40]:
raw_df['age'].describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [41]:
to_concat.append(raw_df['age'].to_frame())
constraints_dict['age'].append('non-negative')

WORKCLASS

In [42]:
raw_df['workclass'].describe()

count       32561
unique          9
top       Private
freq        22696
Name: workclass, dtype: object

In [43]:
categorical_columns.append('workclass')
raw_df['workclass'].unique()

array(['?', 'Private', 'State-gov', 'Federal-gov', 'Self-emp-not-inc',
       'Self-emp-inc', 'Local-gov', 'Without-pay', 'Never-worked'],
      dtype=object)

In [44]:
# raw_df['workclass'].replace('?', 'Unknown_workclass', inplace=True)

FNLWGT (excluded - weighting factor)

In [45]:
raw_df['fnlwgt'].describe()

count    3.256100e+04
mean     1.897784e+05
std      1.055500e+05
min      1.228500e+04
25%      1.178270e+05
50%      1.783560e+05
75%      2.370510e+05
max      1.484705e+06
Name: fnlwgt, dtype: float64

Education (excluded because number of education years are enough)

In [46]:
print(raw_df['education'].unique())
raw_df['education'].describe()

['HS-grad' 'Some-college' '7th-8th' '10th' 'Doctorate' 'Prof-school'
 'Bachelors' 'Masters' '11th' 'Assoc-acdm' 'Assoc-voc' '1st-4th' '5th-6th'
 '12th' '9th' 'Preschool']

count       32561
unique         16
top       HS-grad
freq        10501
Name: education, dtype: object

In [47]:
# education_one_hot = pd.get_dummies(raw_df['education'])
# to_concat.append(education_one_hot)

# # Add constraints for columns
# for column in education_one_hot.columns:
#     constraints_dict[column].append('onehot')
    
# education_one_hot

Education num

In [48]:
raw_df['education.num'].describe()
to_concat.append(raw_df['education.num'].to_frame())
constraints_dict['education.num'].append('non-negative')

Martial status

In [49]:
print(raw_df['marital.status'].unique())
raw_df['marital.status'].describe()

['Widowed' 'Divorced' 'Separated' 'Never-married' 'Married-civ-spouse'
 'Married-spouse-absent' 'Married-AF-spouse']

count                  32561
unique                     7
top       Married-civ-spouse
freq                   14976
Name: marital.status, dtype: object

In [50]:
categorical_columns.append('marital.status')
constraints_dict['marital.status'].append('onehot')

Occupation

In [51]:
print(raw_df['occupation'].unique())
raw_df['occupation'].describe()

['?' 'Exec-managerial' 'Machine-op-inspct' 'Prof-specialty'
 'Other-service' 'Adm-clerical' 'Craft-repair' 'Transport-moving'
 'Handlers-cleaners' 'Sales' 'Farming-fishing' 'Tech-support'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']

count              32561
unique                15
top       Prof-specialty
freq                4140
Name: occupation, dtype: object

In [52]:
# raw_df['occupation'].replace('?', 'Unknown_occupation', inplace=True)

In [53]:
categorical_columns.append('occupation')
constraints_dict['occupation'].append('onehot')

Relationship (excluded can be inferred from gender and martial status)

In [54]:
print(raw_df['relationship'].unique())
raw_df['relationship'].describe()

['Not-in-family' 'Unmarried' 'Own-child' 'Other-relative' 'Husband' 'Wife']

count       32561
unique          6
top       Husband
freq        13193
Name: relationship, dtype: object

Race

In [55]:
print(raw_df['race'].unique())
raw_df['race'].describe()

['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']

count     32561
unique        5
top       White
freq      27816
Name: race, dtype: object

In [56]:
categorical_columns.append('race')
constraints_dict['race'].append('onehot')
constraints_dict['race'].append('non-actionable')

Sex

In [57]:
print(raw_df['sex'].unique())
raw_df['sex'].describe()

['Female' 'Male']

count     32561
unique        2
top        Male
freq      21790
Name: sex, dtype: object

In [58]:
categorical_columns.append('sex')
constraints_dict['sex'].append('onehot')
constraints_dict['sex'].append('non-actionable')

capital.gain

In [59]:
raw_df['capital.gain'].describe()

count    32561.000000
mean      1077.648844
std       7385.292085
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      99999.000000
Name: capital.gain, dtype: float64

In [60]:
to_concat.append(raw_df['capital.gain'].to_frame())
constraints_dict['capital.gain'].append('non-negative')

capital.loss

In [61]:
raw_df['capital.loss'].describe()

count    32561.000000
mean        87.303830
std        402.960219
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       4356.000000
Name: capital.loss, dtype: float64

In [62]:
to_concat.append(raw_df['capital.loss'].to_frame())
constraints_dict['capital.loss'].append('non-negative')

hours.per.week

In [63]:
raw_df['hours.per.week'].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours.per.week, dtype: float64

In [64]:
to_concat.append(raw_df['hours.per.week'].to_frame())
constraints_dict['hours.per.week'].append('non-negative')

native.country

In [65]:
# raw_df['native.country'].replace('?', 'Unknown_country', inplace=True)

In [66]:
raw_df['native.country'].describe()
constraints_dict['native.country'].append('non-actionable')
categorical_columns.append('native.country')

income

In [67]:
raw_df['income'].describe()
raw_df['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [68]:
# categorical_columns.append('income')
# constraints_dict['income'].append('onehot')
to_concat.append(raw_df['income'].to_frame())

CONCAT

In [69]:
constraints_on_features = defaultdict(lambda: list())
categorical_columns_final = []

for feature in categorical_columns:
    dummies = pd.get_dummies(raw_df[feature], prefix=feature)
    categorical_columns_final += dummies.columns.tolist()
    to_concat.append(dummies)

    # Add constraints for columns
    for column in dummies.columns:
        constraints_on_features[column].append('onehot')

        if 'non-actionable' in constraints_dict[feature]:
            constraints_on_features[column].append('non-actionable')

In [70]:
final_df = pd.concat(to_concat, axis=1)
final_df.columns

Index(['age', 'education.num', 'capital.gain', 'capital.loss',
       'hours.per.week', 'income', 'workclass_?', 'workclass_Federal-gov',
       'workclass_Local-gov', 'workclass_Never-worked', 'workclass_Private',
       'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc',
       'workclass_State-gov', 'workclass_Without-pay',
       'marital.status_Divorced', 'marital.status_Married-AF-spouse',
       'marital.status_Married-civ-spouse',
       'marital.status_Married-spouse-absent', 'marital.status_Never-married',
       'marital.status_Separated', 'marital.status_Widowed', 'occupation_?',
       'occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black',
       'race_Other', 'race_White', 'sex_Female', 'sex_Male',
       'native.country_?', 'native.country_Cambodia', 'native.country_Canada',
       'native.country_China', 'native.country_Columbia',
       'native.country_Cuba', 'native.country_Dominican-Republic',
       'native.country_Ecuador', 'native.country_El-Salvador',
       'native.country_England', 'native.country_France',
       'native.country_Germany', 'native.country_Greece',
       'native.country_Guatemala', 'native.country_Haiti',
       'native.country_Holand-Netherlands', 'native.country_Honduras',
       'native.country_Hong', 'native.country_Hungary', 'native.country_India',
       'native.country_Iran', 'native.country_Ireland', 'native.country_Italy',
       'native.country_Jamaica', 'native.country_Japan', 'native.country_Laos',
       'native.country_Mexico', 'native.country_Nicaragua',
       'native.country_Outlying-US(Guam-USVI-etc)', 'native.country_Peru',
       'native.country_Philippines', 'native.country_Poland',
       'native.country_Portugal', 'native.country_Puerto-Rico',
       'native.country_Scotland', 'native.country_South',
       'native.country_Taiwan', 'native.country_Thailand',
       'native.country_Trinadad&Tobago', 'native.country_United-States',
       'native.country_Vietnam', 'native.country_Yugoslavia'],
      dtype='object')

In [71]:
import json
columns_order = list((set(final_df.columns) - set(categorical_columns_final) - set(['income']))) + categorical_columns_final
continuous_columns = ['hours.per.week', 'age', 'capital.loss', 'education.num', 'capital.gain']

with open('../data/adult_constraints.json', 'w') as f:
    constraints_on_features['features_order_after_split'] = columns_order
    constraints_on_features['features_order_nonsplit'] = continuous_columns  + categorical_columns + ['income']
    constraints_on_features['categorical_features_nonsplit'] = categorical_columns 
    constraints_on_features['continuous_features_nonsplit'] = continuous_columns
    constraints_on_features['target_feature'] = 'income' 
    constraints_on_features['features_count_split_without_target'] = len(columns_order)
    constraints_on_features['non_actionable_features'] = ['race', 'sex', 'native.country']
    constraints_on_features['actionable_features'] = list(set(categorical_columns + continuous_columns) - set(['race', 'sex', 'native.country']))
    constraints_on_features['feature_ranges'] = {
        'age': [16, 100],
        'education.num': [1, 16],
        'capital.gain': [0, 99999],
        'capital.loss': [0, 99999],
        'hours.per.week': [1, 99]
    }
    json.dump(constraints_on_features, f)

In [72]:
final_df = final_df[columns_order + ['income']]
final_df.head(4)

,capital.gain,education.num,capital.loss,hours.per.week,age,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income
0,0,9,4356,40,90,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,<=50K
1,0,9,4356,18,82,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,<=50K
2,0,10,4356,40,66,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,<=50K
3,0,4,3900,40,54,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,<=50K

In [73]:
final_df.to_csv('../data/adult_cleaned.csv', index=False)

In [74]:
final_df.columns

Index(['capital.gain', 'education.num', 'capital.loss', 'hours.per.week',
       'age', 'workclass_?', 'workclass_Federal-gov', 'workclass_Local-gov',
       'workclass_Never-worked', 'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov',
       'workclass_Without-pay', 'marital.status_Divorced',
       'marital.status_Married-AF-spouse', 'marital.status_Married-civ-spouse',
       'marital.status_Married-spouse-absent', 'marital.status_Never-married',
       'marital.status_Separated', 'marital.status_Widowed', 'occupation_?',
       'occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black',
       'race_Other', 'race_White', 'sex_Female', 'sex_Male',
       'native.country_?', 'native.country_Cambodia', 'native.country_Canada',
       'native.country_China', 'native.country_Columbia',
       'native.country_Cuba', 'native.country_Dominican-Republic',
       'native.country_Ecuador', 'native.country_El-Salvador',
       'native.country_England', 'native.country_France',
       'native.country_Germany', 'native.country_Greece',
       'native.country_Guatemala', 'native.country_Haiti',
       'native.country_Holand-Netherlands', 'native.country_Honduras',
       'native.country_Hong', 'native.country_Hungary', 'native.country_India',
       'native.country_Iran', 'native.country_Ireland', 'native.country_Italy',
       'native.country_Jamaica', 'native.country_Japan', 'native.country_Laos',
       'native.country_Mexico', 'native.country_Nicaragua',
       'native.country_Outlying-US(Guam-USVI-etc)', 'native.country_Peru',
       'native.country_Philippines', 'native.country_Poland',
       'native.country_Portugal', 'native.country_Puerto-Rico',
       'native.country_Scotland', 'native.country_South',
       'native.country_Taiwan', 'native.country_Thailand',
       'native.country_Trinadad&Tobago', 'native.country_United-States',
       'native.country_Vietnam', 'native.country_Yugoslavia', 'income'],
      dtype='object')