In [46]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from carla.data.catalog import CsvCatalog

import warnings
import tensorflow as tf
import numpy as np
import pandas as pd
import json

seed = 44

tf.compat.v1.random.set_random_seed(seed)
np.random.seed(seed)

In [49]:
# Prep adult dataset

with open('../data/adult_constraints.json', 'r') as f:
    constraints = json.load(f)

continuous = constraints['continuous']
categorical = constraints['categorical']
immutable = constraints['immutable']
columns_order = constraints['features_order']

In [50]:
dataset = CsvCatalog(file_path="../data/adult_prep.csv",
                    continuous=continuous,
                    categorical=categorical,
                    immutables=immutable,
                    target='income')

In [42]:
df = dataset.df_train

X_train = dataset.df_train[columns_order]
Y_train = df['income']
Y_train = pd.get_dummies(Y_train)
Y_train

       <=50K  >50K
9739       1     0
23394      0     1
25744      1     0
2631       0     1
15550      1     0
...      ...   ...
16955      1     0
25773      0     1
27377      1     0
3491       1     0
14100      1     0

[24420 rows x 2 columns]

In [43]:
df = dataset.df_test
X_test = dataset.df_test[columns_order]
Y_test = df['income']
Y_test = pd.get_dummies(Y_test)
Y_test

       <=50K  >50K
13099      1     0
21918      1     0
23550      1     0
6892       0     1
17909      0     1
...      ...   ...
14474      1     0
9451       0     1
6348       1     0
3396       1     0
11599      0     1

[8141 rows x 2 columns]

In [44]:
from tensorflow import keras


model = tf.keras.Sequential()
model.add(tf.keras.layers.Input((len(X_train.columns),)))
model.add(tf.keras.layers.Dense(64, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(32, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(2, activation='softmax'))


model.compile(
    optimizer='adam',
    loss=tf.keras.losses.CategoricalCrossentropy(from_logits=False),
    metrics=['accuracy']
)

model.fit(
    X_train.to_numpy(), 
    Y_train.to_numpy(),
    epochs=100,
    batch_size=128,
    validation_data=(X_test.to_numpy(), Y_test.to_numpy()),
    shuffle=True,
    callbacks=[
        tf.keras.callbacks.EarlyStopping(patience=10)
    ]
)

Train on 24420 samples, validate on 8141 samples
Epoch 1/100

ValueError: could not convert string to float: 'HS-grad'

In [36]:
model.save('../models/adult_NN.h5', overwrite=True, save_format='h5')

In [38]:
len(X_train.columns)

107

In [39]:
columns_order

['age',
 'fnlwgt',
 'education.num',
 'capital.gain',
 'capital.loss',
 'hours.per.week',
 'marital.status_Divorced',
 'marital.status_Married-AF-spouse',
 'marital.status_Married-civ-spouse',
 'marital.status_Married-spouse-absent',
 'marital.status_Never-married',
 'marital.status_Separated',
 'marital.status_Widowed',
 'native.country_?',
 'native.country_Cambodia',
 'native.country_Canada',
 'native.country_China',
 'native.country_Columbia',
 'native.country_Cuba',
 'native.country_Dominican-Republic',
 'native.country_Ecuador',
 'native.country_El-Salvador',
 'native.country_England',
 'native.country_France',
 'native.country_Germany',
 'native.country_Greece',
 'native.country_Guatemala',
 'native.country_Haiti',
 'native.country_Holand-Netherlands',
 'native.country_Honduras',
 'native.country_Hong',
 'native.country_Hungary',
 'native.country_India',
 'native.country_Iran',
 'native.country_Ireland',
 'native.country_Italy',
 'native.country_Jamaica',
 'native.country_Japan',
 'native.country_Laos',
 'native.country_Mexico',
 'native.country_Nicaragua',
 'native.country_Outlying-US(Guam-USVI-etc)',
 'native.country_Peru',
 'native.country_Philippines',
 'native.country_Poland',
 'native.country_Portugal',
 'native.country_Puerto-Rico',
 'native.country_Scotland',
 'native.country_South',
 'native.country_Taiwan',
 'native.country_Thailand',
 'native.country_Trinadad&Tobago',
 'native.country_United-States',
 'native.country_Vietnam',
 'native.country_Yugoslavia',
 'occupation_?',
 'occupation_Adm-clerical',
 'occupation_Armed-Forces',
 'occupation_Craft-repair',
 'occupation_Exec-managerial',
 'occupation_Farming-fishing',
 'occupation_Handlers-cleaners',
 'occupation_Machine-op-inspct',
 'occupation_Other-service',
 'occupation_Priv-house-serv',
 'occupation_Prof-specialty',
 'occupation_Protective-serv',
 'occupation_Sales',
 'occupation_Tech-support',
 'occupation_Transport-moving',
 'race_Amer-Indian-Eskimo',
 'race_Asian-Pac-Islander',
 'race_Black',
 'race_Other',
 'race_White',
 'relationship_Husband',
 'relationship_Not-in-family',
 'relationship_Other-relative',
 'relationship_Own-child',
 'relationship_Unmarried',
 'relationship_Wife',
 'sex_Male',
 'workclass_?',
 'workclass_Federal-gov',
 'workclass_Local-gov',
 'workclass_Never-worked',
 'workclass_Private',
 'workclass_Self-emp-inc',
 'workclass_Self-emp-not-inc',
 'workclass_State-gov',
 'workclass_Without-pay',
 'education_10th',
 'education_11th',
 'education_12th',
 'education_1st-4th',
 'education_5th-6th',
 'education_7th-8th',
 'education_9th',
 'education_Assoc-acdm',
 'education_Assoc-voc',
 'education_Bachelors',
 'education_Doctorate',
 'education_HS-grad',
 'education_Masters',
 'education_Preschool',
 'education_Prof-school',
 'education_Some-college']