In [22]:
import warnings
import tensorflow as tf
import numpy as np
import pandas as pd
import json

seed = 44

tf.compat.v1.random.set_random_seed(seed)
np.random.seed(seed)

In [25]:
df = pd.read_csv('../data/adult_cleaned.csv')
df

,age,education.num,capital.gain,capital.loss,hours.per.week,income,Federal-gov,Local-gov,Never-worked,Private,...,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Unknown_country,Vietnam,Yugoslavia
0,90,9,0,4356,40,<=50K,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,82,9,0,4356,18,<=50K,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,66,10,0,4356,40,<=50K,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,54,4,0,3900,40,<=50K,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,41,10,0,3900,40,<=50K,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,10,0,0,40,<=50K,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
32557,27,12,0,0,38,<=50K,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
32558,40,9,0,0,40,>50K,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
32559,58,9,0,0,40,<=50K,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
32560,22,9,0,0,20,<=50K,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [26]:
with open('../data/adult_constraints.json', 'r') as f:
    constraints = json.load(f) 
constraints

{'Federal-gov': ['onehot'],
 'Local-gov': ['onehot'],
 'Never-worked': ['onehot'],
 'Private': ['onehot'],
 'Self-emp-inc': ['onehot'],
 'Self-emp-not-inc': ['onehot'],
 'State-gov': ['onehot'],
 'Unknown_workclass': ['onehot'],
 'Without-pay': ['onehot'],
 'Divorced': ['onehot'],
 'Married-AF-spouse': ['onehot'],
 'Married-civ-spouse': ['onehot'],
 'Married-spouse-absent': ['onehot'],
 'Never-married': ['onehot'],
 'Separated': ['onehot'],
 'Widowed': ['onehot'],
 'Adm-clerical': ['onehot'],
 'Armed-Forces': ['onehot'],
 'Craft-repair': ['onehot'],
 'Exec-managerial': ['onehot'],
 'Farming-fishing': ['onehot'],
 'Handlers-cleaners': ['onehot'],
 'Machine-op-inspct': ['onehot'],
 'Other-service': ['onehot'],
 'Priv-house-serv': ['onehot'],
 'Prof-specialty': ['onehot'],
 'Protective-serv': ['onehot'],
 'Sales': ['onehot'],
 'Tech-support': ['onehot'],
 'Transport-moving': ['onehot'],
 'Unknown_occupation': ['onehot'],
 'Amer-Indian-Eskimo': ['onehot', 'non-actionable'],
 'Asian-Pac-Islander': ['onehot', 'non-actionable'],
 'Black': ['onehot', 'non-actionable'],
 'Other': ['onehot', 'non-actionable'],
 'White': ['onehot', 'non-actionable'],
 'Female': ['onehot', 'non-actionable'],
 'Male': ['onehot', 'non-actionable'],
 'Cambodia': ['onehot', 'non-actionable'],
 'Canada': ['onehot', 'non-actionable'],
 'China': ['onehot', 'non-actionable'],
 'Columbia': ['onehot', 'non-actionable'],
 'Cuba': ['onehot', 'non-actionable'],
 'Dominican-Republic': ['onehot', 'non-actionable'],
 'Ecuador': ['onehot', 'non-actionable'],
 'El-Salvador': ['onehot', 'non-actionable'],
 'England': ['onehot', 'non-actionable'],
 'France': ['onehot', 'non-actionable'],
 'Germany': ['onehot', 'non-actionable'],
 'Greece': ['onehot', 'non-actionable'],
 'Guatemala': ['onehot', 'non-actionable'],
 'Haiti': ['onehot', 'non-actionable'],
 'Holand-Netherlands': ['onehot', 'non-actionable'],
 'Honduras': ['onehot', 'non-actionable'],
 'Hong': ['onehot', 'non-actionable'],
 'Hungary': ['onehot', 'non-actionable'],
 'India': ['onehot', 'non-actionable'],
 'Iran': ['onehot', 'non-actionable'],
 'Ireland': ['onehot', 'non-actionable'],
 'Italy': ['onehot', 'non-actionable'],
 'Jamaica': ['onehot', 'non-actionable'],
 'Japan': ['onehot', 'non-actionable'],
 'Laos': ['onehot', 'non-actionable'],
 'Mexico': ['onehot', 'non-actionable'],
 'Nicaragua': ['onehot', 'non-actionable'],
 'Outlying-US(Guam-USVI-etc)': ['onehot', 'non-actionable'],
 'Peru': ['onehot', 'non-actionable'],
 'Philippines': ['onehot', 'non-actionable'],
 'Poland': ['onehot', 'non-actionable'],
 'Portugal': ['onehot', 'non-actionable'],
 'Puerto-Rico': ['onehot', 'non-actionable'],
 'Scotland': ['onehot', 'non-actionable'],
 'South': ['onehot', 'non-actionable'],
 'Taiwan': ['onehot', 'non-actionable'],
 'Thailand': ['onehot', 'non-actionable'],
 'Trinadad&Tobago': ['onehot', 'non-actionable'],
 'United-States': ['onehot', 'non-actionable'],
 'Unknown_country': ['onehot', 'non-actionable'],
 'Vietnam': ['onehot', 'non-actionable'],
 'Yugoslavia': ['onehot', 'non-actionable']}

In [30]:

X = df[set(df.columns) - set(['income'])]
Y = df['income']
Y = pd.get_dummies(Y)
Y

       <=50K  >50K
0          1     0
1          1     0
2          1     0
3          1     0
4          1     0
...      ...   ...
32556      1     0
32557      1     0
32558      0     1
32559      1     0
32560      1     0

[32561 rows x 2 columns]

In [31]:
from tensorflow import keras


model = tf.keras.Sequential()
model.add(tf.keras.layers.Input((85,)))
model.add(tf.keras.layers.Dense(64, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(32, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(2, activation='softmax'))


model.compile(
    optimizer='adam',
    loss=tf.keras.losses.CategoricalCrossentropy(from_logits=False),
    metrics=['accuracy']
)

In [32]:
model.fit(
    X.to_numpy(), 
    Y.to_numpy(),
    epochs=100,
    batch_size=128,
    validation_split=0.3,
    shuffle=True,
    callbacks=[
        tf.keras.callbacks.EarlyStopping(patience=10)
    ]
)

Train on 22792 samples, validate on 9769 samples
Epoch 1/100
22792/22792 [==============================] - 1s 24us/sample - loss: 11.6480 - acc: 0.6858 - val_loss: 0.4961 - val_acc: 0.8075
Epoch 2/100
22792/22792 [==============================] - 0s 16us/sample - loss: 2.1298 - acc: 0.7607 - val_loss: 0.4534 - val_acc: 0.8075
Epoch 3/100
22792/22792 [==============================] - 0s 16us/sample - loss: 1.0343 - acc: 0.7729 - val_loss: 0.4229 - val_acc: 0.8075
Epoch 4/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.7606 - acc: 0.7763 - val_loss: 0.3854 - val_acc: 0.8075
Epoch 5/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.6381 - acc: 0.7742 - val_loss: 0.3748 - val_acc: 0.8075
Epoch 6/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.5126 - acc: 0.7741 - val_loss: 0.3638 - val_acc: 0.8075
Epoch 7/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.4642 - acc: 0.7731 - val_loss: 0.3604 - val_acc: 0.8075
Epoch 8/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.5204 - acc: 0.7713 - val_loss: 0.3498 - val_acc: 0.8075
Epoch 9/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.4592 - acc: 0.7749 - val_loss: 0.3460 - val_acc: 0.8075
Epoch 10/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.4446 - acc: 0.7749 - val_loss: 0.3408 - val_acc: 0.8075
Epoch 11/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.4352 - acc: 0.7736 - val_loss: 0.3410 - val_acc: 0.8075
Epoch 12/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.4327 - acc: 0.7721 - val_loss: 0.3372 - val_acc: 0.8075
Epoch 13/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.4158 - acc: 0.7710 - val_loss: 0.3334 - val_acc: 0.8075
Epoch 14/100
22792/22792 [==============================] - 0s 17us/sample - loss: 0.4108 - acc: 0.7715 - val_loss: 0.3313 - val_acc: 0.8075
Epoch 15/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.4144 - acc: 0.7686 - val_loss: 0.3308 - val_acc: 0.8075
Epoch 16/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.4075 - acc: 0.7671 - val_loss: 0.3305 - val_acc: 0.8075
Epoch 17/100
22792/22792 [==============================] - 0s 15us/sample - loss: 0.4024 - acc: 0.7640 - val_loss: 0.3273 - val_acc: 0.8075
Epoch 18/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3992 - acc: 0.7669 - val_loss: 0.3280 - val_acc: 0.8075
Epoch 19/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.4018 - acc: 0.7675 - val_loss: 0.3289 - val_acc: 0.8075
Epoch 20/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3945 - acc: 0.7653 - val_loss: 0.3273 - val_acc: 0.8075
Epoch 21/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3954 - acc: 0.7725 - val_loss: 0.3245 - val_acc: 0.8075
Epoch 22/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.4043 - acc: 0.7724 - val_loss: 0.3230 - val_acc: 0.8084
Epoch 23/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3907 - acc: 0.7813 - val_loss: 0.3229 - val_acc: 0.8555
Epoch 24/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3910 - acc: 0.7832 - val_loss: 0.3262 - val_acc: 0.8526
Epoch 25/100
22792/22792 [==============================] - 0s 15us/sample - loss: 0.3847 - acc: 0.7859 - val_loss: 0.3186 - val_acc: 0.8546
Epoch 26/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3836 - acc: 0.7877 - val_loss: 0.3223 - val_acc: 0.8509
Epoch 27/100
22792/22792 [==============================] - 0s 17us/sample - loss: 0.3835 - acc: 0.7900 - val_loss: 0.3147 - val_acc: 0.8540
Epoch 28/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3828 - acc: 0.7921 - val_loss: 0.3176 - val_acc: 0.8539
Epoch 29/100
22792/22792 [==============================] - 0s 18us/sample - loss: 0.3845 - acc: 0.7929 - val_loss: 0.3160 - val_acc: 0.8546
Epoch 30/100
22792/22792 [==============================] - 0s 18us/sample - loss: 0.3821 - acc: 0.7949 - val_loss: 0.3287 - val_acc: 0.8483
Epoch 31/100
22792/22792 [==============================] - 0s 18us/sample - loss: 0.3782 - acc: 0.7928 - val_loss: 0.3197 - val_acc: 0.8512
Epoch 32/100
22792/22792 [==============================] - 0s 19us/sample - loss: 0.3804 - acc: 0.7954 - val_loss: 0.3179 - val_acc: 0.8555
Epoch 33/100
22792/22792 [==============================] - 0s 17us/sample - loss: 0.3842 - acc: 0.7956 - val_loss: 0.3168 - val_acc: 0.8538
Epoch 34/100
22792/22792 [==============================] - 0s 20us/sample - loss: 0.3771 - acc: 0.7966 - val_loss: 0.3143 - val_acc: 0.8548
Epoch 35/100
22792/22792 [==============================] - 0s 18us/sample - loss: 0.3761 - acc: 0.7976 - val_loss: 0.3145 - val_acc: 0.8537
Epoch 36/100
22792/22792 [==============================] - 0s 18us/sample - loss: 0.3754 - acc: 0.7987 - val_loss: 0.3143 - val_acc: 0.8524
Epoch 37/100
22792/22792 [==============================] - 0s 18us/sample - loss: 0.3765 - acc: 0.7991 - val_loss: 0.3161 - val_acc: 0.8536
Epoch 38/100
22792/22792 [==============================] - 0s 18us/sample - loss: 0.4123 - acc: 0.7978 - val_loss: 0.3142 - val_acc: 0.8551
Epoch 39/100
22792/22792 [==============================] - 0s 20us/sample - loss: 0.3813 - acc: 0.7948 - val_loss: 0.3199 - val_acc: 0.8514
Epoch 40/100
22792/22792 [==============================] - 0s 17us/sample - loss: 0.3800 - acc: 0.7987 - val_loss: 0.3143 - val_acc: 0.8564
Epoch 41/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3736 - acc: 0.8008 - val_loss: 0.3133 - val_acc: 0.8555
Epoch 42/100
22792/22792 [==============================] - 0s 18us/sample - loss: 0.3724 - acc: 0.7995 - val_loss: 0.3129 - val_acc: 0.8541
Epoch 43/100
22792/22792 [==============================] - 0s 21us/sample - loss: 0.3697 - acc: 0.8009 - val_loss: 0.3131 - val_acc: 0.8548
Epoch 44/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3740 - acc: 0.8020 - val_loss: 0.3121 - val_acc: 0.8538
Epoch 45/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3695 - acc: 0.8048 - val_loss: 0.3121 - val_acc: 0.8534
Epoch 46/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3719 - acc: 0.7999 - val_loss: 0.3153 - val_acc: 0.8531
Epoch 47/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3689 - acc: 0.8004 - val_loss: 0.3174 - val_acc: 0.8559
Epoch 48/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3702 - acc: 0.8029 - val_loss: 0.3218 - val_acc: 0.8521
Epoch 49/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3692 - acc: 0.8013 - val_loss: 0.3158 - val_acc: 0.8523
Epoch 50/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3667 - acc: 0.8045 - val_loss: 0.3132 - val_acc: 0.8537
Epoch 51/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3674 - acc: 0.8062 - val_loss: 0.3134 - val_acc: 0.8539
Epoch 52/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3659 - acc: 0.8026 - val_loss: 0.3157 - val_acc: 0.8534
Epoch 53/100
22792/22792 [==============================] - 0s 16us/sample - loss: 0.3674 - acc: 0.8042 - val_loss: 0.3147 - val_acc: 0.8518
Epoch 54/100
22792/22792 [==============================] - 0s 17us/sample - loss: 0.3689 - acc: 0.8045 - val_loss: 0.3156 - val_acc: 0.8525

In [33]:
model.save('../models/adult_NN.h5', overwrite=True, save_format='h5')

In [34]:
model.load_weights('../models/adult_NN.h5')

In [35]:
X.to_numpy()[0].shape

(85,)

In [36]:
model.predict(X.to_numpy()[0:2], verbose=1)

2/2 [==============================] - 0s 15ms/sample

array([[0.37581608, 0.6241839 ],
       [0.37379995, 0.62620014]], dtype=float32)

In [37]:
model.predict_proba(X.to_numpy()[0:2])

array([[0.37581608, 0.6241839 ],
       [0.37379995, 0.62620014]], dtype=float32)

RandomForest

In [38]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=seed)

In [39]:
classifier = RandomForestClassifier(random_state=seed, criterion='entropy')
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=44)

In [40]:
classifier.score(X_test, y_test)

0.8485003582761798

In [41]:
from joblib import dump, load

dump(classifier, '../models/adult_RF.joblib')

['../models/adult_RF.joblib']

In [42]:
clf = load('../models/adult_RF.joblib')

In [43]:
print(y_test[0:5])
clf.predict(X_test[0:5])

       <=50K  >50K
13099      1     0
21918      1     0
23550      1     0
6892       0     1
17909      0     1

array([[1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 1]], dtype=uint8)